.book-list-page {
  margin-top: 50px;

}

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 1;
  width: calc(100% * (1/2));
  margin: auto;
}

.book-list-headline {
  text-align: center;
}
