.table-container {
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
  border-collapse: collapse;

}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #007bff;
}

tr:hover {
  background-color: #f5f5f5;
}

.delete-icon {
  color: red;
  border: none;
  background-color: white;
  cursor: pointer;
}

.edit-icon {
  color: #007bff;
}

td {
  background-color: white;
}

.manage-books {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: solid #435d7d;
  background-color: #435d7d;
  color: black;

}

.manage-books-title {
  margin: 0;
  margin-left: 8px;
}

.full-admin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
}

.create-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  height: 15px;
  text-decoration: none;
  color: white;
}

.create-button {
  border: solid #28a745;
  background-color: #28a745;
  border-radius: 3%;
  margin-right: 8px;
}

.create-paragraph {
  display: none;
}

@media (min-width: 600px) {
  .create-paragraph {
    display: inline;
  }
}
