* {
  box-sizing: border-box;

}

html,
body {
  height: 100%;
  background-color: rgb(236, 236, 236);
}


.full_page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage_texts {
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.title {
  color: black;
}

.home_image {
  max-height: 80vh;
  margin-top: 40px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menu_item {
  margin: 10px;
}
