html,
body {
  height: 100%;
  background-color: rgb(236, 236, 236);
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
}

.book_information {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 800px;

}

.more_information {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}
