html,
body {
  height: 100%;
  background-color: rgb(236, 236, 236);
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
}

.book-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 800px;
}

.more-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
  margin: auto;
  max-width: 80%;
}

.detail-headline {
  text-align: center;
}

.detail-image {
  max-width: 80%;
}

@media (min-width: 850px) {
  .book-information {
    flex-direction: row;
    margin-top: 0;
    align-items: flex-start;
  }

  .more-information {
    align-items: flex-start;
  }

  .detail-image {
    margin: 5%;
  }
}
